body{
    background-image: url("/IMG/FONDO_ESCRITORIO.jpeg");
    font-family: Raleway;

}

.elemento{
    
    box-shadow: 0 4px 8px #130aca;
    float: left;
    width: 28%;
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color:  #d8f8e1;
    font-size: large;
}

.letra{


    color: black;
    border: 2px solid #280c90;
    float: left;
    width: 100%;
    font-size: large;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.letra :hover{
    background-color: rgb(10, 59, 92);
    color: white;
}

.autor{

    background-color: #768fda;
    text-align: center;
    padding: 50px;
    z-index: 2;

}

.menu{
    overflow: hidden;
    position: fixed;
    font-family: Helvetica;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #375f78;
    padding: 5px;
    font-size: x-large;
    z-index: 2;
}

.menu a{
    font-family: helvetica;
    font-size:  large;
    text-decoration: none;
    padding: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: #a9dfb6;
    font-weight: bold;
    align-content: center;
    transition-duration: 0.5s;
}

.menu a:hover{
    background: #6eb0a2;
    color: black;
    border: 6px solid #66d3d6;
    font-weight: 900;
}

.contenido{
   
    border: 2px ;
    justify-content: center;
    font-size: small;
}

.foto{
    width: 50%;
    display: block;
    margin: 0px auto;
}

h2 {
    font-family: 'Times New Roman';
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.foto_autor {
    width: 40%;
    display: block;
    margin: 0px auto;
}

.autorB :hover{
    background-color: #43a7a2;
    color: rgb(35, 35, 111);
}

.buscador {
    margin-left: 80%;
    overflow: hidden;
    position: fixed;
}

.busacdor img {
    vertical-align: middle;
}

.buscador input {
    
    border: 0px;
    border-radius: 6px;
    text-align: center;
    font-family: 'Arial Narrow';

}
.buscador input:hover {
    border: 4px solid black;
}

.resaltado {
    background-color: #8fb6d3;
    color: wheat;
}